.row
  .col-md-12
    %h3#venue
      Venue
.row
  .col-xs-12.col-sm-10.col-md-10.center-block
    #venue-map
.row
  .col-md-12
    %h3#accomodation
      Places to stay
    %p
      Northbrook Park has accommodation on site that can sleep up to 80 people, and can be booked either as individual rooms or the whole cottage (sleeping 8).
      Unfortunately this accommodation is only available on the Saturday night.
      Bookings can be made directly with Central Reservations on 0844 824777. See
      = link_to "here", "http://www.northbrookparkmews.co.uk/"
      for more information.

      There are a number of other hotels in Farnham and the surrounding area that you can stay in.
      On the Friday night Abhi will be staying
      = link_to "here", "http://www.mercure.com/gb/hotel-6621-mercure-farnham-bush-hotel/index.shtml", target: "_blank"
      and Alice will be staying
      = link_to "here", "http://www.bishopstable.com/index.htm", target: "_blank"
      \. You are welcome to join us at either and raise a glass with us ahead of the wedding day.
      We will update the site with where we plan to spend the evening.

      The other hotels in the area are:
    %p= link_to "1 Park Row", "http://1parkrow.co.uk/", target: "_blank"
    %p= link_to "Best Western", "http://www.bestwestern.co.uk/hotels/frensham-pond-hotel-farnham-83620/hotel-info/default.aspx", target: "_blank"
    %p= link_to "Farnham House Hotel", "http://www.farnhamhousehotel.com/bedrooms/", target: "_blank"
    %p= link_to "Hotel de Vie", "http://www.hoteldevie.com/", target: "_blank"
    %p= link_to "The Princess Royal", "http://www.theprincessroyal.co.uk/bedrooms", target: "_blank"
.row
  .col-xs-12.col-sm-12.col-md-12
    %h3#attire
      Attire
    %p
      There is no rule for what you need to wear to the wedding.
      Traditional British, Indian, a mix of the two or any other type of wedding wear is fine. 
      You can wear the same thing through the day or feel free to change for the different ceremonies.
      There'll be places to change at the wedding location for men and women.
      We've included what we are planning to do below.
    %h4
      Morning Civil Ceremony
    %p
      British wedding style.
    %h4
      Afternoon Indian Ceremony
    %p
      Indian wedding style.
    %p
      See
      = link_to "here", "http://www.kalkifashion.com/blogs/different-types-of-indian-wedding-dresses", target: "_blank"
      for different types of women's fashion. Alice will be in a red wedding lehenga. Red is a traditional colour for the bride so please stay away
      from that colour. Salwar Kameez or Lengha are a good choice if you want something easy to wear. Chaniya Choli is similar to Lengha so
      you can mention that as well if you are looking for those types of clothing.
      Sarees are also an option but require a bit more work to wear and can be more expensive.
    %p
      See
      = link_to "here", "http://www.indianweddingsaree.com/static/Mens-Wear.aspx", target: "_blank"
      for different types of men's fashion. Abhi will be in a white wedding sherwani. White is a traditional colour for the groom so please stay away
      from that colour as well. Kurta pyjamas are a good choice if you want something easy to wear.
      Indo western suits and sherwanis are also an option but can be more expensive.
    %h4
      Evening Reception
    %p
      We'll most likely stick with our Indian clothes or switch back to our British clothes later on in the night. Feel free to do the same or get a
      third outfit! Whatever you decide make sure you can dance in it :)
.row
  .col-xs-12.col-sm-12.col-md-12
    %h3#requests
      Song Requests
    %p
      Let us know songs you'd like on the playlist.
    = link_to "Requests", request_path , class: "btn btn-primary btn-general"