.row
  .hidden-xs.col-sm-2.col-md-2#target-nav
    %ul.nav.nav-pills.nav-stacked.nav-home{"data-offset-bottom" => "200", "data-offset-top" => "20", "data-spy" => "affix"}
      %li.active= link_to "Venue", "#venue"
      %li= link_to "Places to stay", "#accomodation"
      %li= link_to "Attire", "#attire"
      %li= link_to "Requests", "#requests"
  .col-xs-11.col-sm-9.col-md-9
    .row
      .col-xs-12.col-sm-12.col-md-12
        %h3#venue
          Venue
        #venue-map
    .row
      .col-xs-12.col-sm-12.col-md-12
        %h3#accomodation
          Places to stay
        %p
          Places to stay in Farnham....
    .row
      .col-xs-12.col-sm-12.col-md-12
        %h3#attire
          Attire
        %p
          Types of Indian clothes....
    .row
      .col-xs-12.col-sm-12.col-md-12
        %h3#requests
          Requests
        %p
          Let us know songs you'd like on the playlist.
        = link_to "Requests", request_path , class: "btn btn-primary btn-general"