- if has_access?
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.collapse#target-nav
        %ul.nav.navbar-nav.navbar-right.nav-home
          - if controller.controller_name == "static_pages" && controller.action_name == "home"
            %li.active= link_to "Venue", "#venue"
            %li= link_to "Places to stay", "#accomodation"
            %li= link_to "Attire", "#attire"
            %li= link_to "Requests", "#requests"
          - else
            %li= link_to 'home', root_path
          - if Rails.env.development? && has_access?
            %li= link_to 'logout', logout_path, method: "delete"